mat-sidenav-container{
  background-color: #d2d8de;
  .mat-sidenav-content{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    mat-card{
      height: 65%;
      width: 90%;
      margin: 5% auto;
      border: 0.0625rem solid #e4e9f2;
      border-radius: 0.25rem;
      box-shadow: none;
      color: #222b45;
      font-family: Open Sans, sans-serif;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.25rem;
    }
    .mat-card-header{
      display: flex;
      justify-content: center;//x轴排列
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #edf1f7;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      color: #222b45;
      font-family: Open Sans, sans-serif;
      font-size: 0.9375rem;
      font-weight: 600;
      line-height: 1.5rem;
      a {
        margin-right: 5rem;
      }
    }
    mat-card-content{
      height: 14rem;
      overflow: hidden;
      overflow-y: auto;
    }
    mat-card-footer {
      display: flex;
      justify-content: center; //x轴排列
      border-top: 1px solid #edf1f7;
      margin:  0 1rem;
      padding: 1rem 0;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      color: #222b45;
      font-family: Open Sans, sans-serif;
      font-size: 0.9375rem;
      font-weight: 600;
      line-height: 1.5rem;
    }
  }
}
.bgc{
  background-color: rgb(103, 58, 183);
  color: rgb(255,255,255);
}

