<mat-sidenav-container>
  <mat-sidenav-content class="mat-sidenav-content">
    <mat-card class="pms-content mdl-shadow">
      <mat-card-header>
          <a routerLink="/login" mat-raised-button routerLinkActive="bgc">账号密码登陆</a>
          <a routerLink="/phone" mat-raised-button routerLinkActive="bgc" >手机验证登陆</a>
          <a routerLink="/register" mat-raised-button routerLinkActive="bgc" >用户注册</a>
      </mat-card-header>
      <mat-card-content style="margin: 0 auto;width: 40%;padding: 3.6rem 0rem;">
        <router-outlet></router-outlet>
      </mat-card-content>
      <mat-card-footer>
          <p>追逐天堂©2020</p>
      </mat-card-footer>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
