<mat-card>
  <mat-card-header>
    <mat-card-title>
      基础管理 &lt; 权限模块管理
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]='queryForm'>
    <mat-card-content  class="el-row">
      <mat-form-field class="el-col-8">
        <label>
          <input matInput placeholder="权限模块名称" formControlName="aclModuleName">
        </label>
      </mat-form-field>
      <mat-form-field class="el-col-8">
        <mat-select placeholder="模块状态选择" formControlName = "aclModuleStatus">
          <mat-option selected value="-1">请选择</mat-option>
          <mat-option value="0">正常</mat-option>
          <mat-option value="1">冻结</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="el-col-8">
        <label>
          <input matInput placeholder="上级权限模块" formControlName="parentAclModuleName" >
        </label>
      </mat-form-field>
      <div class="clearfix"></div>
    </mat-card-content>
    <mat-card-footer class="el-row" type="flex"  justify="center">
      <div el-col [span]="8">&nbsp;</div>
      <div el-col [span]="4">
        <button type="submit" mat-raised-button color="accent">查询</button>
      </div>
      <div el-col [span]="4">
        <button type="submit" mat-raised-button color="accent">重置</button>
      </div>
      <div class="clearfix"></div>
    </mat-card-footer>
  </form>
</mat-card>
<el-table [model]="dataSource" [stripe]="true" [scroll-x]="true" center="all">
  <el-table-column model-key="aclModuleName" label="名称">
  </el-table-column>
  <el-table-column model-key="parentAclModuleName" label="上级权限模块名称">
  </el-table-column>
  <el-table-column model-key="status" label="是否有效">
  </el-table-column>
  <el-table-column label="创建时间" slot="slot" model-key='createTime'>
  </el-table-column>
</el-table>
