.phone_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    width: 25%;
    margin-right: 1rem;
    vertical-align: center;
  }
  mat-form-field{
    width: 70%;
    vertical-align: center;
  }
}

