<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulece.app.management.user.provide.repositories.AdminRoleAclRepository">

    <resultMap id="RoleAclResult" type="com.yulece.app.management.user.dto.AdminRoleAclDto">
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <collection property="adminAclDtoList" ofType="com.yulece.app.management.user.dto.AdminAclDto">
            <result property="id" column="acl_id"/>
            <result property="aclName" column="acl_name"/>
        </collection>
    </resultMap>

    <delete id="deleteAllAclByRoleId" parameterType="integer">
        delete from admin_role_acl where role_id = #{value}
    </delete>
    <select id="findRoleAclByRoleId" resultMap="RoleAclResult"
            parameterType="integer">
            SELECT
                 R.role_id,
                 R.role_name,
                 A.acl_id,
                 A.acl_name
            FROM
                admin_role_acl RU
                LEFT JOIN  admin_role R ON R.role_id = RU.role_id
                LEFT JOIN  admin_acl A on  A.acl_id = RU.acl_id
            WHERE
                R.role_id = #{roleId}
    </select>
</mapper>