<mat-nav-list>
  <h3>首页</h3>
  <mat-list-item routerLink="/pms/dashboard">
    <mat-icon mat-list-icon>home</mat-icon>
    <span mat-line>系统首页</span>
    <span mat-line mat-subheader>系统运行状况</span>
  </mat-list-item>
  <h3>系统管理</h3>
  <mat-list-item>
    <span>部门管理</span>
  </mat-list-item>
  <mat-list-item>
    <span>用户管理</span>
  </mat-list-item>
  <mat-list-item routerLink="/pms/aclModule">
    <mat-icon mat-list-icon>mokuaishengchengqi</mat-icon>
    <span mat-line>权限模块管理</span>
  </mat-list-item>
  <mat-list-item>
    <span>权限点管理</span>
  </mat-list-item>
  <mat-list-item>
    <span>角色管理</span>
  </mat-list-item>
  <mat-list-item>
    <span>审批管理</span>
  </mat-list-item>
  <h3>商品管理</h3>
  <h3>订单管理</h3>
</mat-nav-list>
